In [46]:
import pandas as pd

In [47]:
df = pd.read_pickle("../tmp/product_textual_lang.pickle")

In [48]:
df

,PRODUCTCODE,pdt_inclexcl_ENG_CONTENT,pdt_product_detail_PRODUCTDESCRIPTION,pdt_product_detail_PRODUCTDESCRIPTION_lang,pdt_inclexcl_ENG_CONTENT_lang
0,100123P1,,Our adventure starts off in La Cerdanya valley...,en,th
1,100123P2,,"In La Cerdanya, one of the largest valleys in ...",en,th
2,100123P3,,We have planned this trip for those who love c...,en,th
3,100123P4,,"In La Cerdanya, one of the largest valleys in ...",en,th
4,100123P5,,"In La Cerdanya, one of the largest valleys in ...",en,th
...,...,...,...,...,...
21256,9973P19,2H00 tour through the beautiful latin quarter ...,Free Paris Walking Tour puts you into the hand...,en,en
21257,9973P33,,Get Ready to Sparkle in Paris: Your New Year'...,en,th
21258,9973P35,VIP Entrance to the Club,Get ready for the ultimate party experience i...,en,en
21259,9973P4,Skip the line; Visit 3/4 bars Clubs ( 4 Venues...,Riviera Bar Crawl Paris presents the ultimate ...,en,en
21260,9974P1,The Ice Bar Experience Admission Ticket ; One ...,Experience the first ice bar at the beach in t...,en,en