In [1]:
import gc

import dash
import pandas as pd
import plotly.express as px
import yaml
from dash import dcc, html
from dash.dependencies import Input, Output

from mongodb_lib import *

config_infra = yaml.load(open("../infra-config-pipeline.yaml"), Loader=yaml.FullLoader)
db, fs, client = connect_to_mongodb(config_infra)

INFO:root:Successfully connected to MongoDB.

In [2]:
df = read_object(fs, "product_tables")

In [3]:
df = pd.DataFrame(df)

In [4]:
df.shape

(21264, 12)

In [13]:
df_

,PRODUCTCODE,pdt_inclexcl_ENG_CONTENT,pdt_inclexcl_ENG_VIDESTINATIONCITY,pdt_product_detail_VIDESTINATIONCITY,pdt_product_detail_PRODUCTDESCRIPTION,pdt_product_detail_PRODUCTTITLE,pdt_product_detail_TOURGRADEDESCRIPTION,pdt_product_detail_TOURGRADECODE,pdt_product_level_VIDESTINATIONCITY,pdt_product_level_ISPRIVATETOUR,pdt_product_level_SUPPLIERCODE,bookings_MOSTRECENTORDERDATE
16792,5716GOLFWINE,[ Skip-the-line entry tickets to the Basilica ...,[Barcelona],[Barcelona],"[Enjoy a relaxing, scenic getaway from bustlin...",[Montserrat Half-Day Tour with Tapas and Gourm...,"[Enjoy a relaxing, scenic getaway from bustlin...",[TG3],[Barcelona],[False],[5716],[1707350400000]
16802,5716P4,"[Visit a boutique winery, Three wine tasting, ...",[Barcelona],[Barcelona],[If you really want to get to know Barcelona a...,"[Montserrat with Cogwheel Train,Gourmet Wine T...",[Ride to Montserrat on a cogwheel train. Sampl...,"[TG2, TG1]",[Barcelona],[False],[5716],[1707350400000]