In [1]:
import pandas as pd

In [2]:
products_table = pd.read_pickle("../tmp/product_tables.pickle")

In [4]:
products_table.fillna("", inplace=True)

In [6]:
for column in products_table.columns:
    # Check if all elements in the column are lists with one element or empty strings
    if all(isinstance(val, list) and len(val) == 1 or val == "" for val in products_table[column]):
        # Replace list with single element if all lists contain only one element
        products_table[column] = products_table[column].apply(lambda x: x[0] if isinstance(x, list) and len(x) == 1 else x)

In [7]:
products_table

,PRODUCTCODE,pdt_capacity_TOURGRADECODE,pdt_capacity_AVAILABILITYSTATUS,pdt_capacity_CAPACITY,pdt_capacity_CONSUMEDBYADULT,pdt_capacity_CONSUMEDBYSENIOR,pdt_capacity_CONSUMEDBYYOUTH,pdt_capacity_CONSUMEDBYCHILD,pdt_capacity_CONSUMEDBYINFANT,pdt_capacity_STARTTIME,...,pdt_reviews_PHOTOCOUNT,pdt_reviews_HELPFULVOTES,pdt_reviews_REVIEWTEXT,pdt_tags_TAMGLOCATIONID,pdt_tags_TAGID,pdt_tags_TAGLEVEL,pdt_tags_TAGNAME,pdt_tourgrades_TOURGRADECODE,pdt_tourgrades_TITLE,tags_cleaned_TAGS
0,100123P1,,,,,,,,,,...,,,,,,,,[DEFAULT],[Summer 2019],
1,100123P2,,,,,,,,,,...,,,,,,,,[DEFAULT],[Summer 2019],
2,100123P3,,,,,,,,,,...,,,,,,,,[DEFAULT],[DEFAULT],
3,100123P4,,,,,,,,,,...,,,,,,,,[DEFAULT],[DEFAULT],
4,100123P5,,,,,,,,,,...,,,,,,,,[DEFAULT],[Hiking Tour Pyrenees - La Cerdanya],
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21293,9973P4,,,,,,,,,,...,"[<NA>, 1, 2, 5, 3]","[0, 3, 1, 2]","[Ótima noite, ótimos guias, especialmente Amin...","[a7798, a8496, d6, d51, a585, d479, a2944, d5636]","[21516, 12046, 12054, 21575, 21584, 21593, 221...","[L2, L3, L1]","[Performances - Product - Art and Culture, Wal...","[TG3, TG5]","[Special New Year Eve Bar Crawl, 2024]","Performances - Product - Art and Culture, Walk..."
21294,9974P1,TG2,AVAILABLE,18,True,True,True,True,True,00:23:10.144000,...,"[<NA>, 1, 5, 2, 3, 9, 7, 4]","[0, 1, 2, 3, 16]","[Idea original, el bar es petit, el personal m...","[a27840, d6, d67, d562, d25883]","[21779, 21584, 22111, 21621, 21911, 21912, 219...","[L2, L3, L1]","[Amusement Parks - Product - Tickets & Passes,...",[TG2],[The Ice Bar Experience],"Amusement Parks - Product - Tickets & Passes, ..."
21295,9974P3,TG1,AVAILABLE,15,True,True,True,True,True,18:23:10.144000,...,"[2, <NA>, 1]",[0],[For the price my bf paid LUKE U MIGHT KNOW HI...,"[a27840, d6, d67, d562, d25883]","[21509, 21598, 11901, 21910, 21911, 21912, 12716]","[L2, L3, L1]","[Arts and Design, Art Gallery, Museum Tickets ...",[TG1],[DEFAULT],"Arts and Design, Art Gallery, Museum Tickets &..."
21296,product_code,,,,,,,,,,...,,,,,,,,[tour_grade_code],[title],
21297,productcode,,,,,,,,,,...,,,,,,,,,,