In [1]:
import pandas as pd
import jupyter_black
import black
import gc
from tqdm import tqdm
from pandas_profiling import ProfileReport
from handlers import *
import numpy as np

gc.collect()

jupyter_black.load(
    lab=False,
    line_length=100,
    verbosity="DEBUG",
    target_version=black.TargetVersion.PY310,
)

pd.set_option('display.max_columns', None)

/tmp/ipykernel_1265/1620614228.py:6: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport
DEBUG:jupyter_black:config: {'line_length': 100, 'target_versions': {<TargetVersion.PY310: 10>}}

In [2]:
df = pd.read_pickle("../tmp/product_tables.pickle")
df = df[:-2]

In [3]:
# Remove columns with more than half elements empty

threshold = 0.5
df = df.dropna(thresh=int(threshold * len(df)), axis=1)

In [5]:
# Create separate dataframe with descriptive content

df_text = df.copy()

descriptive_fields = ["pdt_incexcl_CONTENT", "pdt_inclexcl_INCLUSIONEXCLUSIONTEXT", "pdt_inclexcl_ENG_CONTENT", "pdt_itinerary_PRODUCTNAME", "pdt_itinerary_TAPOINAME", "pdt_product_detail_PRODUCTTITLE", "pdt_product_detail_PRODUCTDESCRIPTION", "pdt_product_detail_VIATOROVERVIEW", "pdt_product_detail_TOURGRADETITLE", "pdt_product_detail_VIATOROVERVIEWHIGHLIGHTS", "pdt_product_detail_TOURGRADEDESCRIPTION", "pdt_product_level_PRODUCTNAME", "pdt_tourgrades_TITLE"]

df_text = df_text[["PRODUCTCODE"] + descriptive_fields]

for del_col in descriptive_fields:

    del df[del_col]

df_text.to_pickle("../tmp/product_tables_descriptive.pickle")

In [6]:
# Explode df

for col in tqdm(df.columns):

    df = df.explode(col)

100%|██████████| 15/15 [00:00<00:00, 26.25it/s]

In [7]:
df.fillna(np.nan, inplace=True)

/tmp/ipykernel_1265/4198236409.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.fillna(np.nan, inplace=True)

In [8]:
# Remove products without pdt_product_detail_VIDESTINATIONCITY

df = df.dropna(subset=['pdt_product_detail_VIDESTINATIONCITY'])

In [9]:
# Compute mean of pdt_product_level_MINFLEXIBLEDURATION and pdt_product_level_MAXFLEXIBLEDURATION

def fill_fixed_duration(row):
    if np.isnan(row['pdt_product_level_FIXEDDURATION']):
        return (row['pdt_product_level_MINFLEXIBLEDURATION'] + row['pdt_product_level_MAXFLEXIBLEDURATION']) / 2
    else:
        return row['pdt_product_level_FIXEDDURATION']

df['pdt_product_level_FIXEDDURATION'] = df.apply(fill_fixed_duration, axis=1)

In [10]:
del df["pdt_product_level_MINFLEXIBLEDURATION"]
del df["pdt_product_level_MAXFLEXIBLEDURATION"]

In [11]:
# # Outlier detection and create intervals of bins for float and int columns

numerical_cols = ["pdt_product_level_RETAILPRICEFROMUSD", "pdt_product_level_FIXEDDURATION", "pdt_product_level_STOPSCOUNT", "pdt_product_level_STOPSTOTALDURATION", "pdt_product_level_TOTALREVIEWCOUNT", "pdt_product_level_TOTALAVGRATING"]

for numerical_col in numerical_cols:

    df = detect_and_treat_outliers(df, numerical_col, method='zscore', threshold=3)
    df = auto_bin_intervals(df, numerical_col)

outliers for pdt_product_level_RETAILPRICEFROMUSD:
[3737.5876325480003, 3737.5876325480003, 4173.0, 3644.53405615915, 5314.94228094522, 3199.2338059000003, 4351.079326271811, 3309.552213, 6069.38, 5022.631597652351, 7773.12321899168, 5979.323855864261, 7892.70837228808, 6400.0, 15444.576994000001, 7225.85566505, 44127.36284, 7005.21885085, 4716.111903525, 4136.940266250001, 4136.940266250001, 4357.57708045, 4357.57708045, 30000.0, 3695.6666378500004, 3198.130621829, 3860.041064429, 3695.6666378500004, 3695.6666378500004, 3308.449028929, 4411.633099929, 4742.588321229, 3308.449028929, 3861.1442485000002, 3861.1442485000002, 20000.0, 10000.0, 3995.0, 5800.0, 13500.0, 24100.0, 26100.0, 25000.0, 8700.0, 20100.0, 10300.0, 17300.0, 3350.0, 22400.0, 12800.0, 11100.0, 15100.0, 9600.0, 13600.0, 14500.0, 16100.0, 9800.0, 16300.0, 8600.0, 10600.0, 26600.0, 21400.0, 15300.0, 5500.0]
pdt_product_level_RETAILPRICEFROMUSD 16
outliers for pdt_product_level_FIXEDDURATION:
[525600.0, 3000000.0, 3000000.0, 3000000.0, 3000000.0, 720720.0, 270030.0, 263520.0, 525600.0, 504000.0, 7200000.0, 263520.0, 525600.0, 263520.0, 3199680.0]
pdt_product_level_FIXEDDURATION 16
outliers for pdt_product_level_STOPSCOUNT:
[31.0, 33.0, 34.0, 34.0, 25.0, 36.0, 28.0, 36.0, 28.0, 31.0, 32.0, 33.0, 44.0, 25.0, 43.0, 35.0, 37.0, 38.0, 24.0, 33.0, 24.0, 32.0, 25.0, 25.0, 26.0, 57.0, 31.0, 29.0, 26.0, 26.0, 30.0, 30.0, 31.0, 33.0, 32.0, 32.0, 32.0, 27.0, 25.0, 40.0, 57.0, 25.0, 35.0, 34.0, 48.0, 25.0, 30.0, 35.0, 30.0, 35.0, 34.0, 35.0, 37.0, 30.0, 24.0, 29.0, 27.0, 30.0, 36.0, 29.0, 25.0, 48.0, 33.0, 25.0, 36.0, 34.0, 30.0, 31.0, 51.0, 55.0, 26.0, 24.0, 28.0, 30.0, 26.0, 27.0, 63.0, 69.0, 30.0, 30.0, 39.0, 36.0, 36.0, 39.0, 31.0, 25.0, 55.0, 32.0, 103.0, 104.0, 36.0, 54.0, 79.0, 74.0, 41.0, 28.0, 55.0, 24.0, 33.0, 24.0, 43.0, 44.0, 25.0, 27.0, 49.0, 40.0, 27.0, 25.0, 24.0, 32.0, 91.0, 26.0, 25.0, 111.0, 101.0, 26.0, 419.0, 50.0, 50.0, 45.0, 29.0, 45.0, 62.0, 31.0, 52.0, 31.0, 24.0, 37.0, 26.0, 25.0, 25.0, 46.0, 70.0, 69.0, 66.0, 31.0, 98.0, 76.0, 59.0, 26.0, 26.0, 35.0, 24.0, 35.0, 35.0, 33.0, 34.0, 37.0, 27.0, 48.0, 44.0, 44.0, 32.0, 29.0, 31.0, 44.0, 45.0, 32.0, 26.0, 32.0, 27.0, 64.0, 25.0, 31.0, 25.0, 42.0, 28.0, 24.0, 31.0, 45.0, 30.0, 31.0, 30.0, 25.0, 33.0, 30.0, 52.0, 31.0, 31.0, 34.0, 43.0, 42.0, 29.0, 31.0, 32.0, 24.0, 39.0, 33.0, 52.0, 45.0, 32.0, 32.0, 32.0, 47.0, 40.0, 32.0, 54.0, 24.0, 56.0, 25.0, 59.0, 25.0, 28.0, 43.0, 34.0, 34.0, 24.0, 26.0, 29.0, 30.0, 32.0, 31.0, 38.0, 24.0, 30.0, 24.0, 25.0, 29.0, 26.0, 32.0, 24.0, 46.0, 67.0, 59.0, 59.0, 35.0, 32.0, 44.0, 24.0, 25.0, 81.0, 44.0, 41.0, 48.0, 30.0]
pdt_product_level_STOPSCOUNT 16
outliers for pdt_product_level_STOPSTOTALDURATION:
[4320.0, 2760.0, 3720.0, 3720.0, 2880.0, 2880.0, 2160.0, 4320.0, 5940.0, 2265.0, 3240.0, 2390.0, 2730.0, 4332.0, 2880.0, 2670.0, 2385.0, 4920.0, 2880.0, 5040.0, 2880.0, 2880.0, 2880.0, 3600.0, 5760.0, 2880.0, 2160.0, 3640.0, 2735.0, 5850.0, 2760.0, 3375.0, 2921.0, 12960.0, 2880.0, 4320.0, 7680.0, 4811.0, 3120.0, 3300.0, 2915.0, 13890.0, 6705.0, 10080.0, 2520.0, 2580.0, 2160.0, 7200.0, 2880.0, 4320.0, 2880.0, 10080.0, 2490.0, 2340.0, 14400.0, 2880.0, 2730.0, 4320.0, 3810.0, 2101.0, 3840.0, 4710.0, 3480.0, 31260.0, 5910.0, 2840.0, 2840.0, 2955.0, 2955.0, 4597.0, 5297.0, 5042.0, 7785.0, 5820.0, 11280.0, 2280.0, 2925.0, 5760.0, 5760.0, 2645.0, 8500.0, 5780.0, 2644.0, 2944.0, 2700.0, 3750.0, 2475.0, 4890.0, 2910.0, 2880.0, 4800.0, 5695.0, 3660.0, 2100.0, 2880.0, 5430.0, 5640.0, 4380.0, 2880.0, 4191.0, 4610.0, 2640.0, 2895.0, 2460.0, 2280.0, 4320.0]
pdt_product_level_STOPSTOTALDURATION 16
outliers for pdt_product_level_TOTALREVIEWCOUNT:
[1612.0, 1837.0, 1387.0, 1597.0, 1696.0, 2422.0, 3135.0, 1895.0, 1442.0, 1525.0, 1180.0, 1090.0, 1736.0, 1432.0, 1084.0, 1286.0, 1709.0, 1145.0, 2347.0, 1304.0, 2142.0, 1260.0, 2285.0, 1501.0, 3621.0, 2507.0, 1244.0, 1196.0, 2192.0, 1343.0, 5839.0, 4803.0, 1130.0, 1062.0, 1521.0, 2594.0, 1483.0, 2373.0, 1108.0, 1995.0, 1585.0, 1642.0, 2904.0, 2303.0, 3820.0, 1783.0, 1076.0, 2305.0, 1206.0, 2764.0, 1299.0, 3946.0, 2368.0, 1152.0, 2065.0, 4733.0, 3091.0, 1189.0, 1606.0, 7651.0, 2156.0, 1796.0, 1136.0, 1608.0, 1432.0, 3284.0, 1926.0, 1237.0, 2780.0, 2226.0, 2425.0, 1052.0, 2836.0, 4270.0, 1570.0, 4625.0, 1166.0, 1660.0, 4632.0, 1386.0, 1195.0, 1214.0, 3932.0, 3140.0, 1563.0, 8521.0, 2781.0, 1333.0, 1212.0, 1610.0, 2961.0, 2238.0, 2440.0, 1504.0, 3415.0, 1920.0, 1230.0, 3725.0, 3169.0, 2064.0, 1453.0, 4985.0, 1758.0, 2873.0, 1409.0, 2541.0, 1518.0, 2091.0, 5039.0, 1365.0, 1659.0, 6111.0, 8960.0, 1270.0, 4864.0, 2077.0, 1870.0, 1731.0, 1389.0, 1481.0, 2804.0, 2055.0, 3895.0, 1950.0, 2280.0, 2023.0, 1207.0, 2878.0, 1966.0, 3149.0, 1422.0]
pdt_product_level_TOTALREVIEWCOUNT 16
outliers for pdt_product_level_TOTALAVGRATING:
[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
pdt_product_level_TOTALAVGRATING 16

In [14]:
# Only keep the English columns of df_text

df_text = df_text[["PRODUCTCODE", "pdt_inclexcl_ENG_CONTENT", "pdt_itinerary_PRODUCTNAME", "pdt_itinerary_TAPOINAME", "pdt_product_detail_PRODUCTTITLE", "pdt_product_detail_PRODUCTDESCRIPTION", "pdt_product_detail_TOURGRADETITLE", "pdt_product_detail_VIATOROVERVIEWHIGHLIGHTS", "pdt_product_detail_TOURGRADEDESCRIPTION"]]

In [17]:
# Explode df_text

for col in tqdm(df_text.columns):

    print(col)
    df_text = df_text.explode(col)
    print(df_text.shape)

 33%|███▎      | 3/9 [00:00<00:00, 24.74it/s]

PRODUCTCODE
(21296, 9)
pdt_inclexcl_ENG_CONTENT
(59786, 9)
pdt_itinerary_PRODUCTNAME
(59786, 9)
pdt_itinerary_TAPOINAME
(237448, 9)
pdt_product_detail_PRODUCTTITLE
(237448, 9)
pdt_product_detail_PRODUCTDESCRIPTION

 67%|██████▋   | 6/9 [00:00<00:00, 11.63it/s]

(237448, 9)
pdt_product_detail_TOURGRADETITLE
(488521, 9)
pdt_product_detail_VIATOROVERVIEWHIGHLIGHTS

 89%|████████▉ | 8/9 [00:00<00:00,  7.13it/s]

(488521, 9)
pdt_product_detail_TOURGRADEDESCRIPTION

100%|██████████| 9/9 [00:01<00:00,  4.72it/s]

(1876506, 9)

In [29]:
pdt_product_detail_PRODUCTDESCRIPTION, pdt_product_detail_VIATOROVERVIEWHIGHLIGHTS, pdt_product_detail_TOURGRADEDESCRIPTION

,PRODUCTCODE,pdt_inclexcl_ENG_CONTENT,pdt_itinerary_PRODUCTNAME,pdt_itinerary_TAPOINAME,pdt_product_detail_PRODUCTTITLE,pdt_product_detail_PRODUCTDESCRIPTION,pdt_product_detail_TOURGRADETITLE,pdt_product_detail_VIATOROVERVIEWHIGHLIGHTS,pdt_product_detail_TOURGRADEDESCRIPTION
0,100123P1,NaN,NaN,NaN,Pyrenees-Barcelona Bike Tour,Our adventure starts off in La Cerdanya valley...,Summer 2019,None,"You can choose between two dates.- Sun, 9 Jun ..."
1,100123P2,NaN,NaN,NaN,Pyrenees Bike Tour,"In La Cerdanya, one of the largest valleys in ...",Summer 2019,None,"In La Cerdanya, one of the largest valleys in ..."
2,100123P3,NaN,NaN,NaN,Pyrenees-Costa Brava Bike Tour,We have planned this trip for those who love c...,Pyrenees-Costa Brava Bike Tour,None,We have planned this trip for those who love c...
3,100123P4,NaN,NaN,NaN,Trekking Tour Pyrenees - La Cerdanya,"In La Cerdanya, one of the largest valleys in ...",Trekking Tour Pyrenees - La Cerdanya,None,"In La Cerdanya, one of the largest valleys in ..."
4,100123P5,NaN,NaN,NaN,Hiking Tour Pyrenees - La Cerdanya,"In La Cerdanya, one of the largest valleys in ...",Hiking Tour Pyrenees - La Cerdanya,None,"In La Cerdanya, one of the largest valleys in ..."
...,...,...,...,...,...,...,...,...,...
21294,9974P1,The Ice Bar Experience Admission Ticket,The Ice Bar Experience at Icebarcelona,Icebarcelona,The Ice Bar Experience at Icebarcelona,Experience the first ice bar at the beach in t...,The Ice Bar Experience,Enjoy a unique experience at the world's first...,Clothing: Jacket and gloves\n1 Drink included\n
21294,9974P1,One Drink,The Ice Bar Experience at Icebarcelona,Icebarcelona,The Ice Bar Experience at Icebarcelona,Experience the first ice bar at the beach in t...,The Ice Bar Experience,Enjoy a unique experience at the world's first...,Clothing: Jacket and gloves\n1 Drink included\n
21294,9974P1,Jacket and gloves,The Ice Bar Experience at Icebarcelona,Icebarcelona,The Ice Bar Experience at Icebarcelona,Experience the first ice bar at the beach in t...,The Ice Bar Experience,Enjoy a unique experience at the world's first...,Clothing: Jacket and gloves\n1 Drink included\n
21294,9974P1,Extra drinks at the terrace (available to purc...,The Ice Bar Experience at Icebarcelona,Icebarcelona,The Ice Bar Experience at Icebarcelona,Experience the first ice bar at the beach in t...,The Ice Bar Experience,Enjoy a unique experience at the world's first...,Clothing: Jacket and gloves\n1 Drink included\n
21295,9974P3,NaN,Romantic Pack at Icebarcelona,Icebarcelona,Romantic Pack at Icebarcelona,Do you want to surprise your partner or best f...,Romantic Pack at Icebarcelona,Take your date to the somewhere unique with th...,Do you want to surprise your partner or best f...

In [ ]:
# Set string features

df["PRODUCTCODE"] = df["PRODUCTCODE"].astype(str)

df["pdt_product_detail_VIDESTINATIONCITY"] = df["pdt_product_detail_VIDESTINATIONCITY"].astype(str)

df["pdt_product_level_VICATEGORY"] = df["pdt_product_level_VICATEGORY"].astype(str)

df["pdt_product_level_VIPRODUCTTYPE"] = df["pdt_product_level_VIPRODUCTTYPE"].astype(str)

df['pdt_product_level_PRICINGUNITTYPE'] = df['pdt_product_level_PRICINGUNITTYPE'].astype(str)

df['pdt_product_level_RETAILPRICECURRENCY'] = df['pdt_product_level_RETAILPRICECURRENCY'].astype(str)

In [ ]:
# Set boolean features

df['pdt_product_level_ISPRIVATETOUR'] = df['pdt_product_level_ISPRIVATETOUR'].astype(bool)

In [ ]:
# Analyse tabular product data

profile = ProfileReport(df)

In [ ]:
profile

In [24]:
df_text

,PRODUCTCODE,pdt_inclexcl_ENG_CONTENT,pdt_itinerary_PRODUCTNAME,pdt_itinerary_TAPOINAME,pdt_product_detail_PRODUCTTITLE,pdt_product_detail_PRODUCTDESCRIPTION,pdt_product_detail_TOURGRADETITLE,pdt_product_detail_VIATOROVERVIEWHIGHLIGHTS,pdt_product_detail_TOURGRADEDESCRIPTION
0,100123P1,NaN,NaN,NaN,Pyrenees-Barcelona Bike Tour,Our adventure starts off in La Cerdanya valley...,Summer 2019,None,"You can choose between two dates.- Sun, 9 Jun ..."
1,100123P2,NaN,NaN,NaN,Pyrenees Bike Tour,"In La Cerdanya, one of the largest valleys in ...",Summer 2019,None,"In La Cerdanya, one of the largest valleys in ..."
2,100123P3,NaN,NaN,NaN,Pyrenees-Costa Brava Bike Tour,We have planned this trip for those who love c...,Pyrenees-Costa Brava Bike Tour,None,We have planned this trip for those who love c...
3,100123P4,NaN,NaN,NaN,Trekking Tour Pyrenees - La Cerdanya,"In La Cerdanya, one of the largest valleys in ...",Trekking Tour Pyrenees - La Cerdanya,None,"In La Cerdanya, one of the largest valleys in ..."
4,100123P5,NaN,NaN,NaN,Hiking Tour Pyrenees - La Cerdanya,"In La Cerdanya, one of the largest valleys in ...",Hiking Tour Pyrenees - La Cerdanya,None,"In La Cerdanya, one of the largest valleys in ..."
...,...,...,...,...,...,...,...,...,...
21294,9974P1,The Ice Bar Experience Admission Ticket,The Ice Bar Experience at Icebarcelona,Icebarcelona,The Ice Bar Experience at Icebarcelona,Experience the first ice bar at the beach in t...,The Ice Bar Experience,Enjoy a unique experience at the world's first...,Clothing: Jacket and gloves\n1 Drink included\n
21294,9974P1,One Drink,The Ice Bar Experience at Icebarcelona,Icebarcelona,The Ice Bar Experience at Icebarcelona,Experience the first ice bar at the beach in t...,The Ice Bar Experience,Enjoy a unique experience at the world's first...,Clothing: Jacket and gloves\n1 Drink included\n
21294,9974P1,Jacket and gloves,The Ice Bar Experience at Icebarcelona,Icebarcelona,The Ice Bar Experience at Icebarcelona,Experience the first ice bar at the beach in t...,The Ice Bar Experience,Enjoy a unique experience at the world's first...,Clothing: Jacket and gloves\n1 Drink included\n
21294,9974P1,Extra drinks at the terrace (available to purc...,The Ice Bar Experience at Icebarcelona,Icebarcelona,The Ice Bar Experience at Icebarcelona,Experience the first ice bar at the beach in t...,The Ice Bar Experience,Enjoy a unique experience at the world's first...,Clothing: Jacket and gloves\n1 Drink included\n
21295,9974P3,NaN,Romantic Pack at Icebarcelona,Icebarcelona,Romantic Pack at Icebarcelona,Do you want to surprise your partner or best f...,Romantic Pack at Icebarcelona,Take your date to the somewhere unique with th...,Do you want to surprise your partner or best f...